@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$nav-btn-col: #1a73e8;
$main-txt-col: rgba(0,0,0,0.87);
$footer-txt-col: #70757a;
$font-main: arial,sans-serif;
$font-signin: Roboto, sans-sefif;
$font-size-main: 1.4rem;
$font-size-top: 1.3rem;


$font: 44px;